<!DOCTYPE html>
<html lang="en">
<head>
  <title>Popular area</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/htmleaf-demo.css">
  <link rel="stylesheet" href="css/style.css"/>
  <link rel="stylesheet" href="css/main.css"/>

</head>
<body>

  <div>
      <div class="topnav">
          <a href="/">Home</a>
          <a href="/TenantPage">Tenants</a>
          <a href="/RoommatePage">Roommates</a>
          <a href="/landlordPage">Residences</a>
          <a href="/contact">Contact us</a>
</div>
      <div class = "pagebody">
          <div class = "pagehead">
              <div class="pageLogo">
                  <img id="logo" src="logo.png">
              </div>
          </div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" height="250">
      <div class="panel panel-danger">
        <div class="panel-heading">North Okland</div>
        <div class="panel-body"><img src="north2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

      </div>
    </div>
    <div class="col-sm-6" height="250">
      <div class="panel panel-danger">
        <div class="panel-heading">Shadyside</div>
        <div class="panel-body"><img src="shadyside.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

      </div>
    </div>
  </div>
</div><br>

<div class="container" align= "w3-center">
  <div class="row">
    <div class="col-sm-6" height="250">
      <div class="panel panel-danger">
        <div class="panel-heading">Downtown</div>
        <div class="panel-body"><img src="images-2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

      </div>
    </div>
    <div class="col-sm-6" height="250">
      <div class="panel panel-danger">
        <div class="panel-heading">West Okland </div>
        <div class="panel-body"><img src="west.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

      </div>
    </div>

  </div>
</div><br><br>

<div class="footer"></div>
</div>

</body>
</html>
